@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.2243 0.0892 259.5257);
  --foreground: oklch(0.9746 0.0252 86.8686);
  --card: oklch(0.2243 0.0892 259.5257);
  --card-foreground: oklch(0.9746 0.0252 86.8686);
  --popover: oklch(0.2243 0.0892 259.5257);
  --popover-foreground: oklch(0.9746 0.0252 86.8686);
  --primary: oklch(0.8413 0.0857 73.7181);
  --primary-foreground: oklch(0.2243 0.0892 259.5257);
  --secondary: oklch(0.5964 0.1178 55.0019);
  --secondary-foreground: oklch(0.9746 0.0252 86.8686);
  --muted: oklch(0.3021 0.0716 262.4182);
  --muted-foreground: oklch(0.8342 0.0248 67.4771);
  --accent: oklch(0.3613 0.0344 66.3765);
  --accent-foreground: oklch(0.9746 0.0252 86.8686);
  --destructive: oklch(0.5276 0.1855 26.3648);
  --destructive-foreground: oklch(0.9746 0.0252 86.8686);
  --border: oklch(0.3752 0.0726 284.4458);
  --input: oklch(0.3021 0.0716 262.4182);
  --ring: oklch(0.8413 0.0857 73.7181);
  --chart-1: oklch(0.8413 0.0857 73.7181);
  --chart-2: oklch(0.5964 0.1178 55.0019);
  --chart-3: oklch(0.4893 0.0895 20.8493);
  --chart-4: oklch(0.4257 0.0362 58.4565);
  --chart-5: oklch(0.8342 0.0248 67.4771);
  --sidebar: oklch(0.9746 0.0252 86.8686);
  --sidebar-foreground: oklch(0.2243 0.0892 259.5257);
  --sidebar-primary: oklch(0.2243 0.0892 259.5257);
  --sidebar-primary-foreground: oklch(0.9746 0.0252 86.8686);
  --sidebar-accent: oklch(0.4257 0.0362 58.4565);
  --sidebar-accent-foreground: oklch(0.9746 0.0252 86.8686);
  --sidebar-border: oklch(0.8342 0.0248 67.4771);
  --sidebar-ring: oklch(0.4893 0.0895 20.8493);
  --font-sans: "Playfair Display", serif;
  --font-serif: "Avenir Next", sans-serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.375rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: -0.125rem;
  --shadow-opacity: 0.15;
  --shadow-color: #edc38c;
  --shadow-2xs: 0rem 0.25rem 0.5rem -0.125rem hsl(34.0206 72.9323% 73.9216% / 0.07);
  --shadow-xs: 0rem 0.25rem 0.5rem -0.125rem hsl(34.0206 72.9323% 73.9216% / 0.07);
  --shadow-sm: 0rem 0.25rem 0.5rem -0.125rem hsl(34.0206 72.9323% 73.9216% / 0.15), 0rem 1px 2px -1.125px hsl(34.0206 72.9323% 73.9216% / 0.15);
  --shadow: 0rem 0.25rem 0.5rem -0.125rem hsl(34.0206 72.9323% 73.9216% / 0.15), 0rem 1px 2px -1.125px hsl(34.0206 72.9323% 73.9216% / 0.15);
  --shadow-md: 0rem 0.25rem 0.5rem -0.125rem hsl(34.0206 72.9323% 73.9216% / 0.15), 0rem 2px 4px -1.125px hsl(34.0206 72.9323% 73.9216% / 0.15);
  --shadow-lg: 0rem 0.25rem 0.5rem -0.125rem hsl(34.0206 72.9323% 73.9216% / 0.15), 0rem 4px 6px -1.125px hsl(34.0206 72.9323% 73.9216% / 0.15);
  --shadow-xl: 0rem 0.25rem 0.5rem -0.125rem hsl(34.0206 72.9323% 73.9216% / 0.15), 0rem 8px 10px -1.125px hsl(34.0206 72.9323% 73.9216% / 0.15);
  --shadow-2xl: 0rem 0.25rem 0.5rem -0.125rem hsl(34.0206 72.9323% 73.9216% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.9746 0.0252 86.8686);
  --foreground: oklch(0.2243 0.0892 259.5257);
  --card: oklch(0.9746 0.0252 86.8686);
  --card-foreground: oklch(0.2243 0.0892 259.5257);
  --popover: oklch(0.9746 0.0252 86.8686);
  --popover-foreground: oklch(0.2243 0.0892 259.5257);
  --primary: oklch(0.4893 0.0895 20.8493);
  --primary-foreground: oklch(0.9746 0.0252 86.8686);
  --secondary: oklch(0.5964 0.1178 55.0019);
  --secondary-foreground: oklch(0.9746 0.0252 86.8686);
  --muted: oklch(0.9105 0.0189 75.3139);
  --muted-foreground: oklch(0.4257 0.0362 58.4565);
  --accent: oklch(0.8413 0.0857 73.7181);
  --accent-foreground: oklch(0.2243 0.0892 259.5257);
  --destructive: oklch(0.5276 0.1855 26.3648);
  --destructive-foreground: oklch(0.9746 0.0252 86.8686);
  --border: oklch(0.8342 0.0248 67.4771);
  --input: oklch(0.9105 0.0189 75.3139);
  --ring: oklch(0.5964 0.1178 55.0019);
  --chart-1: oklch(0.4893 0.0895 20.8493);
  --chart-2: oklch(0.5964 0.1178 55.0019);
  --chart-3: oklch(0.8413 0.0857 73.7181);
  --chart-4: oklch(0.4257 0.0362 58.4565);
  --chart-5: oklch(0.3613 0.0344 66.3765);
  --sidebar: oklch(0.2243 0.0892 259.5257);
  --sidebar-foreground: oklch(0.9746 0.0252 86.8686);
  --sidebar-primary: oklch(0.8413 0.0857 73.7181);
  --sidebar-primary-foreground: oklch(0.2243 0.0892 259.5257);
  --sidebar-accent: oklch(0.5964 0.1178 55.0019);
  --sidebar-accent-foreground: oklch(0.9746 0.0252 86.8686);
  --sidebar-border: oklch(0.3613 0.0344 66.3765);
  --sidebar-ring: oklch(0.8413 0.0857 73.7181);
  --font-sans: "Playfair Display", serif;
  --font-serif: "Avenir Next", sans-serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.375rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: -0.125rem;
  --shadow-opacity: 0.1;
  --shadow-color: #001844;
  --shadow-2xs: 0rem 0.25rem 0.5rem -0.125rem hsl(218.8235 100.0000% 13.3333% / 0.05);
  --shadow-xs: 0rem 0.25rem 0.5rem -0.125rem hsl(218.8235 100.0000% 13.3333% / 0.05);
  --shadow-sm: 0rem 0.25rem 0.5rem -0.125rem hsl(218.8235 100.0000% 13.3333% / 0.10), 0rem 1px 2px -1.125px hsl(218.8235 100.0000% 13.3333% / 0.10);
  --shadow: 0rem 0.25rem 0.5rem -0.125rem hsl(218.8235 100.0000% 13.3333% / 0.10), 0rem 1px 2px -1.125px hsl(218.8235 100.0000% 13.3333% / 0.10);
  --shadow-md: 0rem 0.25rem 0.5rem -0.125rem hsl(218.8235 100.0000% 13.3333% / 0.10), 0rem 2px 4px -1.125px hsl(218.8235 100.0000% 13.3333% / 0.10);
  --shadow-lg: 0rem 0.25rem 0.5rem -0.125rem hsl(218.8235 100.0000% 13.3333% / 0.10), 0rem 4px 6px -1.125px hsl(218.8235 100.0000% 13.3333% / 0.10);
  --shadow-xl: 0rem 0.25rem 0.5rem -0.125rem hsl(218.8235 100.0000% 13.3333% / 0.10), 0rem 8px 10px -1.125px hsl(218.8235 100.0000% 13.3333% / 0.10);
  --shadow-2xl: 0rem 0.25rem 0.5rem -0.125rem hsl(218.8235 100.0000% 13.3333% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}







